body{
  margin-left: 300px;
  background-image:url("9.png"), url("3.jpg");
  background-size: 250px 250px,100% 100%;
  background-position: 95px 60px,0;
  background-repeat: no-repeat;
  background-attachment:fixed;

}

.container{
  cursor : url("3.png"), default;
  padding-left: 50px;
  border-radius: 40px;
  background-image:url(1.jpg);
  background-size: 100% 100%;

  max-width:100%;
  width: 600px;
  height: 300px;

}
.cont{
  cursor:url("4.png"), default;;
  position: relative;
  float:left;
  padding-top: 30px;
  border-radius: 30px;
  border: 2px solid #DE2C9D;
  color: blue;
  margin: 30px -80px 0 60px;
  text-align: center;
  display:inline-block;
  width: 150px;
  height: 100px;
  background:#0BD0F5;
  font-size: 20px;
  font-style:italic;
}
.cont:hover{
  background: silver;
  transition: 1s;
}

#sh{
  text-align: center;
  font-size: 30px;
  color: #DE4EAC;
  font-family:cursive;
}

a:hover {
  text-decoration:none
}

.one_abz:first-letter {
  font-size: 1.2em;
 padding: 5px 10px;
 margin-right: 5px;
 margin-bottom: 2px;
 background: #EE9966;
 color: #FAF4F4;
 float: left;
 font-weight: bold;

}

.lh {
  line-height: 7px;
}

.link{
  text-decoration: none;
  word-spacing: 5px;
  font-family:cursive;
  font:"Arial";
  font-size: 20px;
}
.link:hover{
  text-decoration:none;
  background: url("5.png") repeat-x left bottom;
  padding-bottom: 1px;

}
.link:visited{
  color:orange;
}
.link:active{
  color: green;
}
.link_one{
  cursor : url("3.png"), default;
}

.link_two{
text-decoration:none;
 margin-left: -100px;
 padding-left:27px;
 background-image:url(6.png);
 background-position:left;
 background-repeat: no-repeat;
}
.link_two:hover{
text-decoration:underline;
color: #0BD0F5;
transition: 0.3s;
}
.but{
  color: blue;
  font-size: 15px;
  padding: 5px 25px 5px 25px;
  text-decoration: none;
  font-family:cursive;
  outline: none;
}
.but:hover{
  background: yellow;
  border-radius: 30px;
  transition: 3s;
}
button {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
}
.one_but {
  border-radius: 10px;
  color: #EC4D3C;
  background-color: white;
  background-image: -webkit-radial-gradient(#FCD2D1 2px, rgba(255,0,0,0) 2px);
  background-image: -o-radial-gradient(#FCD2D1 2px, rgba(255,0,0,0) 2px);
  background-image: radial-gradient(#FCD2D1 2px, transparent 2px);
  background-size: 12px 12px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.one_but:hover{
  background-size: 16px 16px;
}

.two_but{
  border-radius: 10px;
  color: #40382D;
  box-shadow: inset 0 -5px 0 #40382D;
}
.two_but:hover{
   box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.3);
  color: #DECDA5;
}
.three_but{
  border-radius: 10px;
  color: #CEA640;
  background: #FFF79A;
  border-bottom: 5px solid #E1B442;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  outline: none;
}
.three_but:hover{
 box-shadow: 0 1px 2px rgba(0,0,0,0.3);
text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
.for_but{
   color: #E74D71;
  border-radius: 25px;
  border: 3px solid #BCE720;
   outline: none;
}
.for_but:hover{
  color: #BDB9AB;
  background: #E7E5DD;
}

.s1 {
  font-size: 25px;
  color: #92B8C5;
  text-shadow: 1px 1px 1px #555555;
}
.s1:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.s2 {
  font-size: 25px;
  color: #B2BBC0;
  text-shadow: 1px 0 #4D575D;
}
.s2:hover {
  transform: rotate(-5deg);
}

.s3 {
  font-size: 25px;
  background-image: linear-gradient(#FE5568 50%, #FE5568 50%), linear-gradient(silver 50%, silver 50%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 2px;
  color: #1E3A52;
  padding-bottom: 3px;
  transition: .5s ease-in-out;
}
.s3:hover {
  background-size: 100% 2px, 100% 2px;
  color: #FE5568;
}

.s4 {
  font-size: 25px;
  color:#34495e;
  line-height: 1.2;
  position:relative;
  padding: 0 14px;
  text-transform: uppercase;
  display:inline-block;

}
.s4:after {
  content: "";
  height: 100%;
  min-width: 4px;
  background: #34495e;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: .5s;
  display:block;

}
.s4:hover:after {
  min-width: 100%;
  background: #95a5a6;
  opacity: .35;
}

.lists{
  list-style-type:square;
}
.lists2{
  list-style-type:circle;
}
.lists3{
  list-style-image:url("7.png");
  position: relative;
}

.lists4{
  list-style-image:url("8.png");
  position: relative;
  list-style-position:outside;

}
li{
font-size: 20px;
font-family:cursive;
}

.bor{
  color: yellow;
  border:3px double blue;
  margin-right: 850px;
  text-align: center;
  outline: dotted orange;
  outline-width: 5px;

}
.bor:hover{
  outline-style:none;
  transition: 4s;
}

.bor2{
  color: yellow;
  border:double 4px blue;
  border-style: dotted solid dotted solid;
  border-color: red blue red blue;
  margin-right: 850px;
  text-align: center;
  transition: 4s;

}
.bor2:hover{
  border-color: blue red blue red;
  transition: 4s;
  cursor:pointer;
  color: white;
}
h1{
  font-family: 'Niconne', cursive;
font-size: 50px;
color: #e12527;
}
h1:before, h1:after {
content: "\2746";
display: inline-block;
font-size: 60px;
color: #38afaa;
-webkit-animation: my 4s infinite alternate;
animation: my 4s infinite alternate;
}
h1:before {
margin-right: 0.5em;
}
h1:after {
margin-left: 0.5em;
}
@-webkit-keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }
@keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
 }

.obr{
margin-left: -100px;
color: yellow;
font-size: 20px;
width: 300px;
overflow:hidden;
white-space:nowrap;
text-overflow:ellipsis;
}

.per{
  margin-left: -100px;
  color: yellow;
  font-size: 20px;
  width: 150px;
  word-break:normal;
  word-wrap:break-word;
}

.gr1{
  margin-left: -100px;
  position:absolute;
  width: 200px;
  height: 200px;
  background:linear-gradient(45deg, red,blue)
}

.gr2{
  position:absolute;
  margin-left: 110px;
  width: 200px;
  height: 200px;
  background:linear-gradient(to top left, powderblue, pink);
}
.gr3{
  position:absolute;
  margin-left: 320px;
  width: 200px;
  height: 200px;
  background: linear-gradient(to top, #E4AF9D 20%, #E4E4D8 50%, #A19887 80%);
}
.gr4{
  margin-left: 530px;
  width: 200px;
  height: 200px;
  background: linear-gradient(to right,#FFDDD6 20%, #FFF9ED 20%, #FFF9ED 80%, #DBDBDB 80%);
}

.gr5{
  position:absolute;
  margin-left: -100px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  background:radial-gradient(at top,white,blue);
}
.gr6{
  position:absolute;
  margin-left: 110px;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  background:radial-gradient(40% 40%,white,powderblue);
}
.gr7{
  margin-left: 320px;
  margin-top: 10px;
  width: 410px;
  height: 200px;
  background:radial-gradient(circle farthest-corner at 100px 50px,#FBF2EB, #352A3B);
}
.ball{
  margin-left: 250px;
  margin-top: 30px;
  border-radius: 50%;
  border: double 1px black;
  width: 200px;
  height:200px;
  background: radial-gradient(circle at 65% 15%,aqua, darkblue);
}
.wrap{
  margin-left: 200px;
  margin-top: 30px;
  margin-right: 50px;
  width: 300px;
  height: 100px;
  padding: 50px 0px;
  background: #cccccc;
}
.button1{
  width: 100px;
height: 100px;
border-radius: 50%;
margin: 0 auto;
background: radial-gradient(farthest-side ellipse at top left,white,#aaaaaa);
box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);

}

.contain1{
margin: 30px 250px 0px 0px;
cursor:auto;
background: #B7D1D8;
padding: 40px 0px 40px 0px;
}
.wrap1 {
  margin-top: 30px;
background: radial-gradient(transparent, transparent 4px, white 4px,white);
padding: 10px;
width: 300px;
height: 220px;
background-size: 20px 20px;
background-position: -10px -10px; /*обрезаем узор по краю*/
margin: 0 auto;
}
.imgone{
cursor:auto;
width: 100%;
}
.gr8{
  position:absolute;
  margin-top: 30px;
  width: 350px;
  height: 200px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 5px, #465298 5px, #465298 10px);
}
.gr9{
  margin-top: 30px;
  margin-left: 400px;
  width: 350px;
  height: 200px;
  background: repeating-radial-gradient(circle, #B9ECFE, #B9ECFE 5px, #82DDFF 5px, #82DDFF 10px);
}
.gr10{
  margin: 30px 0 0 -70px;
  width: 900px;
  height: 453px;
  background: linear-gradient(45deg, rgba(103, 0, 31, .8), rgba(34, 101, 163, .5)), url(https://html5book.ru/wp-content/uploads/2016/12/photo-8.jpg); 
  background-size:cover;
}